.container{
 width: 100%;
 height: 100%;
  padding-top: 10px;
}

h1{
     text-align: center;
     padding: 10px 10px;
     border: solid 3px rgb(235, 188, 188);
    border-radius: 30px;
}
.main{
   position: relative;
   border: 2px black;
    
}
.left,.right{
    border: solid 3px rgb(235, 188, 188);
    border-radius: 30px;
    box-shadow: 2px;
    width: 40%;
    height: 20%;
    margin: 10px;
    
    
}



.left{
        position: relative;
        text-align: center;
        padding: 10px;
        
        float: left;
        
        
        
    }

.right{
        position: relative;
        text-align: center;
        padding: 10px;
        
        float:right; 
        
    }
.cuadro{
    
   float: right;
   width: 50%;
   
   
   
}
.cuadro2 {
float:left;
width: 50%;

}
.text{
float:left;
width: 80%;

}
.text2{
float: right;
width: 80%;

}

.cuadro img{
    width: 250px;
}
.cuadro2 img{
    width: 250px;
}