body {
background-color: #fef5da;
}

h1 { background-color: grey; color: white; text-align:center; 
}

img { size-adjust: 300px; border-radius: 0%; vertical-align: middle 

}

ul {

}

li {
    display: inline;
}

